{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
	<h1> Hi, Admin {{current_user.username}} ! </h1>
	<a href="{{url_for('admin_add_book')}}"><input type="button" name="test" value="Add Book"/></a>
	<a href="{{url_for('admin_del_book')}}"><input type="button" name="test" value="delete Book"/></a>
	<a href="{{url_for('admin_add_card')}}"><input type="button" name="test" value="Add Card"/></a>
	<a href="{{url_for('admin_del_card')}}"><input type="button" name="test" value="Delete Card"/></a>
{% endblock %}