{% extends "base.html" %}

{% block content %}
    <h1>{{type}} book</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.bookname.label }}<br>
            {{ form.bookname(size=64) }}<br>
            {% for error in form.bookname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% if type == 'Add' %}
        <p>
            {{ form.author.label }}<br>
            {{ form.author }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type }}<br>
            {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year }}<br>
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% endif %}
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount }}<br>
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}