{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<style type="text/css">
.divForm{
    margin:0 auto;   
    width:1200px;   
    height:200px;
    padding-left:500px; 
}
</style>
    <h1><div class="text" style=" text-align:center;">Sign In</div></h1>
    
    <div class="divForm">
    <div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    </div>
	</div>
    
	<br>
	<br>
	<br>
	<div class="divForm">
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
	</div>
{% endblock %}